<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bootstrap" version="3.3.1" targetFramework="net45" userInstalled="true" />
  <package id="FSharp.Configuration" version="0.4.10" targetFramework="net45" userInstalled="true" />
  <package id="FSharp.Data" version="2.1.1" targetFramework="net45" userInstalled="true" />
  <package id="FsWebAddRegistryEntries" version="0.1.1.0" targetFramework="net45" userInstalled="true" />
  <package id="jQuery" version="1.9.0" targetFramework="net45" userInstalled="true" />
  <package id="log4net" version="2.0.3" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.2" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.2" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.2" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.Owin" version="3.0.0" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.0.0" targetFramework="net45" userInstalled="true" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" userInstalled="true" />
  <package id="NUnitTestAdapter" version="1.2.0" targetFramework="net45" userInstalled="true" />
  <package id="Owin" version="1.0" targetFramework="net45" userInstalled="true" />
  <package id="sync.today.createdb" version="1.0.5533.41632" targetFramework="net45" userInstalled="true" />
  <package id="Zlib.Portable" version="1.10.0" targetFramework="net45" userInstalled="true" />
</packages>