<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="log4net.Internal.Debug" value="false" />
    <add key="StringCipherInitVector" value="SAw4nsNZbAyG8Wu1" />
  </appSettings>
  <connectionStrings>
    <!--
    <add name="sync-today-mssql" connectionString="Server=10.10.0.233;Database=SyncToday2015;User ID=SyncToDay;Password=SyncPass489;Integrated Security=False" providerName="System.Data.SqlClient" />
    <add name="sync-today-mssql-old" connectionString="Server=10.10.0.233;Database=SyncToday;User ID=SyncToDay;Password=SyncPass489;Integrated Security=False" providerName="System.Data.SqlClient" />
    -->
    <add name="sync-today-mssql" connectionString="Server=(localdb)\ProjectsV12; Database=SyncToday2015.new; Trusted_Connection=True;" providerName="System.Data.SqlClient" />
    <add name="sync-today-mssql-old" connectionString="Server=(localdb)\ProjectsV12; Database=SyncTodayV12; Trusted_Connection=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.1.0" newVersion="4.3.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>